/* estos es pra llamar el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* fondo de la pagina y ajustes del body*/
body{
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-oleksandr-pidvalnyi-1009068-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* --------------------------listado de la tabla--------------------------- */

/* card del listado de los eventos */
.container{
    width: max-content;
    background: rgba(119, 117, 86, 0.445);
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    text-align: center;
}

/* ajustes que se le dan a la tabla */
.container table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}


/* ajustes de la tabla */
.container thead{
    background: #39A900;
}

.container th{
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.container td{
    margin: 200px;
    padding: 15px;
}


/* esto es el apartado html dentro de php pero que se llama la clase para darle el css */
.noCervezas{
    color: white;
    padding: 0 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 50px;
}


/* boton del generar un PDF */
.botonPdf button{
    width: 130px;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #00B400;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms;
}

/* efecto de aumento de tamaño del boton */
.botonPdf button:hover{
    transform: scale(1.10);
}



/* -------------------este es el apartado de responsive---------------- */

@media screen and (max-width: 760px){

    /* card de donde de escuentran los mensajes que estan dentro de php */
    .noCervezas{
        max-width: 90%;
        margin: auto;
        font-size: 25px;
    }

    /* card del listado de los eventos */
    .container{
        margin: 100px 30px 20px 30px;
    }

    .table-responsive{
        overflow-x: scroll;
		margin: 5px;
    }
    
}