/* ----------------------------------------- */

/* ventana modal */
#btn-modal{
    display: none;
}
/* estilo para el contenedor del modal */
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(90, 90, 85, 0.664);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 500;
}
/* funcionalidad del modal */
#btn-modal:checked ~.container-modal{
    display: flex;
}

/* estilo para el contenido en el modal */
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgb(167, 167, 167);
    border-radius: 4px;
}

/* estilo para el h2 */
.content-modal h2{
    margin-bottom: 15px;
}
/* estilo para el parrafo */
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
/* estilo para el contenido del boton cerrar */
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
/* estilo para el label del boton cerrar */
.content-modal .btn-cerrar label{
    width: 140px;
    padding: 10px;
    text-align: center;
    background-color: #00a6ff;
    color: white;
    border-radius: 20px;
    cursor:pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilo para oscurecer el boton con el mouse */
.content-modal .btn-cerrar label:hover{
    transform: scale(1.10);
}
/* aún no sirve, pero deberia cerrar el modal al dar click fuera */
.cerrar-modal{
    width: 100px;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}


/* style que se le da al editar */
/* color y tamaño de la letra del menu */
.formularioP h4{
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.formularioP label{
    margin: 0;
    padding: 0;
    color: #fff;
    display: block;
    font-size: 14px;
}

/* ajustes de los input */
.formularioP input{
    width: 100%;
    margin-bottom: 15px;
    font-size: 14;
}

/* ajustes de algunos tipos de input */
.formularioP input[type="text"],
.formularioP input[type="tel"],
.formularioP input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}

/* la position del div contraseña sea relativo para asi poder acomodar el ojo de contraseña */
.formularioP .contraseña{
    position: relative;
}


/* ajustes del estilo que se le da al icono del ojo en la contraseña */
.contraseña i{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 30%;
    right: 3%;
}


.formularioP input[type="file"]{
    color: white;
    font-size: 14px;
}

.formularioP input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.formularioP input[type="submit"]:hover{
    transform: scale(1.10);
}


/* estilo que se le da al div donde se encunetra a la foto de perfil del usuario */
.fotoPe{
    width: 90px;
    height: 90px;
    border-radius: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tamaño a la que se va a encontrar la foto de perfil del usuario dentro del div principal */
.fotoPe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* div donde se encuentra el icono de perfil predeterminado */
.iconoPre{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo que se le da al icono de perfil predeterminado */
.iconoPre i{
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
}


/* el div con la clase foto para poder mover luego el icono de la "X" */
.foto{
    position: relative;
}

/* div donde se encuentra el icono de la "X" con su funcion */
.foto .botonEliminar{
    position: absolute;
    top: 5%;
    right: 20%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.botonEliminar i{
    color: #fff;
    font-size: 30px;
}


/* bontones del modal de cerrar y cerrar sesion */
.salir button{
    width: 140px;
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.salir button:hover{
    transform: scale(1.10);
}


/* ---------------------esta es la parte responsive------------------ */

@media screen and (max-width: 760px) {

    /* modal */
    .content-modal{
        width: 90%;
        margin-right: 40px;
    }


}