/* estos es pra llamar el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Fondo de la pagina */
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-elevate-1269043-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.espacio{
	padding: 20px;
}

/* card del login */
.container{
    width: 400px;
    margin: auto;
    background: rgba(119, 117, 86, 0.418);
    top: 5%;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px 30px;
}

/* color y tamaño de la letra del menu */
.container h4{
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.container label{
    margin: 0;
    padding: 0;
    color: #fff;
    display: block;
    font-size: 16px;
}

/* ajustes de los input */
.container input{
    width: 100%;
    margin-bottom: 15px;
}

/* ajustes de algunos tipos de input */
.container input[type="text"],
.container input[type="tel"],
.container input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}

/* la position del div contraseña sea relativo para asi poder acomodar el ojo de contraseña */
.container .contraseña{
    position: relative;
}

/* ajustes del estilo que se le da al icono del ojo en la contraseña */
.contraseña i{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 30%;
    right: 3%;
}

.container input[type="file"]{
    height: 40px;
    color: white;
    font-size: 16px;
}

.container input[type="submit"],
.container input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.container input[type="submit"]:hover,
.container input[type="button"]:hover{
    transform: scale(1.10);
}

/* estilo que se le da al div donde se encunetra a la foto de perfil del usuario */
.fotoP{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tamaño a la que se va a encontrar la foto de perfil del usuario dentro del div principal */
.fotoP img{
    width: 105%;
}

/* div donde se encuentra el icono de perfil predeterminado */
.iconoP{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo que se le da al icono de perfil predeterminado */
.iconoP i{
    font-size: 110px;
    margin-bottom: 20px;
    color: #fff;
}

/* el div con la clase foto para poder mover luego el icono de la "X" */
.foto{
    position: relative;
}

/* div donde se encuentra el icono de la "X" con su funcion */
.foto .botonEliminar{
    position: absolute;
    top: 5%;
    right: 2%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.botonEliminar i{
    color: #fff;
    font-size: 50px;
}




/* ----------------------apartado del responsive----------------------- */

@media screen and (max-width: 760px) {

    /* es el primer contenedor donde se encuentra las estadisticas */
    .container{
		max-width: 100%;
        margin-top: 10px;
    }

    
}