/* estos es pra llamar el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* fondo de la pagina y ajustes del body*/
body{
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-sonja-maric-2707972-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ----------------------Contenido sobre el crud----------------------------------- */

/* card del formulario */
.form{
    width: 500px;
    background: rgba(119, 117, 86, 0.445);
    margin: auto;
    top: 50px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 90px;
}

/* color y tamaño de la letra del menu */
.form h4{
    margin: 0;
    padding: 0 0 15px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.form label{
    margin: 0;
    padding: 0;
    color: #fff;
    display: block;
    font-size: 16px;
}

/* ajustes de los input */
.form input{
    width: 100%;
    margin-bottom: 20px;
}

/* ajustes de algunos tipos de input */
.form input[type="text"],
.form input[type="date"],
.form input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}


/* para quitar las opciones de subir y bajar el valor del numero con las flechas */
.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* es para invertir el color del icono del calendario en la input type date */
.form input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0.9;
    filter: invert(0.9);
}

.form input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 300ms;
    cursor: pointer;
}

.form input[type="submit"]:hover{
    transform: scale(1.10);
}


/* --------------------------listado de eventos--------------------------- */

/* card del listado de los eventos */
.tabla{
    width: max-content;
    background: rgba(119, 117, 86, 0.445);
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    text-align: center;
}

.tabla table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

/* color y tamaño de la letra del formulario */
.tabla h4{
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

/* ajustes de la tabla */
.tabla thead{
    background: #39A900;
}

.tabla th{
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.tabla td{
    margin: 200px;
    padding: 10px;
}

.tabla i{
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}


/* ----------------------apartado del responsive y para pantallas no tan pequeñas como tablets----------------------- */

@media screen and (max-width: 1116px) {


    /* --------------------------listado de eventos--------------------------- */
    
    .table-responsive{
        overflow-x: scroll;
        margin: 80px;
    }
        
}


@media screen and (max-width: 760px) and (max-width: 761px) {
 

/* card del formulario */
.form{
    margin-top: 30px;
    max-width: 90%;
}


/* --------------------------listado de eventos--------------------------- */

.table-responsive{
	margin: 20px;
}

}