/* estos es pra llamar el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* fondo de la pagina y ajustes del body*/
body{
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-oleksandr-pidvalnyi-1009068.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* donde va el contenido de todo */
.padre{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}

/* contenedor donde muestra para participar el el ultimo evento */
.padre .container{
    width: 400px;
    height: 250px;
    background: rgba(119, 117, 86, 0.445);
    margin-left: 5%;
    margin-right: 50px;
    border-radius: 10px;
    padding: 60px 30px;
}

/* el titulo de la card de participar en el ultimo evento */
.padre .container h4{
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/* segunda card donde se muestra los 3 primeros puestos que ganaron el ultimo evento */
.padre .container2{
    width: 400px;
    background: rgba(119, 117, 86, 0.445);
    margin-left: 10%;
    margin-right: 50px;
    border-radius: 10px;
    padding: 60px 30px;
}

/* el contenido que va aparecer cuando haga click en el boton de lo que ganaron en el ultimo evento */
.padre .container2 .puestos{
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/* estilo que se le da al boton de "click aqui" de ultimo evento */
.padre .container button{
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0;
}

/* estilo que se le da a la letra del boton "click aqui" */
.padre .container a{
    color: white;
}

/* estilo que se le da al boton de la segunda card de los ganadores */
.padre .container2 button{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
    margin-top: 15%;
    color: white;
}

/* efecto del los botones cuando pasa el cursor estos se agranden */
button:hover{
    transform: scale(1.10);
}


/*-------------- apartado del responsive ------------------*/

@media screen and (max-width: 760px){


    /* donde va el contenido de todo */
    .padre{
        display: block;
        margin-top: -250px;
    }

    .padre .container{
        max-width: 75%;
        height: 300px;
        margin: auto;
    }
    
    /* segunda card donde se muestra los 3 primeros puestos que ganaron el ultimo evento */
    .padre .container2{
        max-width: 75%;
        margin: auto;
    }

    /* estilo que se le da al boton de la segunda card de los ganadores */
    .padre .container2 button{
        font-size: 15px;
    }
    
}