/* estos es pra llamar el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto:wght@100&display=swap');

/* Para quitar el scroll de la pagina */
*::-webkit-scrollbar{
    display: none;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



/* fondo de la pagina y ajustes del body*/
body{
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-sonja-maric-2707972-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* ----------------------Contenido sobre el crud----------------------------------- */

/* card del formulario */
.formulario{
    width: 600px;
    background: rgba(119, 117, 86, 0.445);
    margin: auto;
    top: 50px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 90px;
}

/* color y tamaño de la letra del formulario */
.formulario h3{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 0 0 30px 0;
}

.formulario h4{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0 0 10px 0;
}

/* formulario para agregar otra mesa */
.mesas{
    width: 400px;
    background: rgba(119, 117, 86, 0.445);
    margin: auto;
    top: 50px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 30px;
}

.mesas h3{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0 0 10px 0;
}

/* estilo del boton de agregar mesa */
.mesas button{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.mesas button:hover{
    transform: scale(1.10);
}

/* ajustes de los input */
::placeholder{
    color: white;
}

.formulario input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    -moz-appearance: textfield;
    width: 100%;
    margin-bottom: 20px;
}

/* para quitar las opciones de subir y bajar el valor del numero con las flechas */
.formulario input[type="number"]::-webkit-outer-spin-button,
.formulario input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* estilo de los select */
.formulario select{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
}

/* color del fondo de las options */
.formulario option{
    background: dimgrey;
}

/* estilo del boton de registrar */
.formulario button{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.formulario button:hover{
    transform: scale(1.10);
}

/* --------------------------listado de eventos--------------------------- */

/* boton del de asignar mesa que esta en la principal */
.boton{
    text-align: center;
}

.boton button{
    width: 250px;
    height: 50px;
    background: #39A900;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
}

.boton button:hover{
    transform:  scale(1.10);
}

/* botones que van en el modal */
.botones{
    display: flex;
}

.botones button{
    margin: 20px;
    margin-top: 60px;
    width: 210px;
    height: 40px;
    border-radius: 20px;
}

/* para el inpuut del modal de steward */
.mesasSteward input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    -moz-appearance: textfield;
    width: 100%;
    margin-bottom: 20px;
}

/* para quitar las opciones de subir y bajar el valor del numero con las flechas */
.mesasSteward input[type="number"]::-webkit-outer-spin-button,
.mesasSteward input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* para los botones del segundo modal steward */
.botones2{
    display: flex;
}

.botones2 button{
    margin: 20px;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

/* el select que se encuentra dentro del modal */
label{
    color: #fff;
}

.selecModal select{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
}

/* los input que se encuentran en el modal */
.form input[type="number"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
    -moz-appearance: textfield;
}

/* para quitar las opciones de subir y bajar el valor del numero con las flechas */
.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


/* style que se le dentro del archivo "beer.php" */
.beer{
    width: 400px;
    background: rgba(119, 117, 86, 0.445);
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
}


.beer h2{
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.beer label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.beer select{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

.boton2{
    text-align: center;
}

.boton2 button{
    width: 120px;
    height: 40px;
    background: #39A900;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.boton2 button:hover{
    transform:  scale(1.10);
    background: #39A900;
}

/* boton de regresar */
.botonRegresar button{
    width: 100px;
    height: 40px;
    margin: 40px auto auto auto;
    background: #39A900;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.botonRegresar button:hover{
    transform: scale(1.10);
}


/* div padre donde se encuetran las mesas */
.tabla{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
}

/* para crear las 2 columnas de las mesas */
.columna{
    width: 14%;
    height: 300px;
    box-sizing: border-box;
    margin: 0 1.33% 20px 1.33%;
    padding: 10px;
    background: rgba(90, 88, 67, 0.801);
    border: solid 2px #39A900;
    border-radius: 30px;
    overflow-y: scroll;
}

/* titulo de la mesa */
.columna h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

/* tirulo de los jueces que van acatar en las mesas */
.columna h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
}

/* estilo del boton elimiar */
.columna a{
    margin: auto;
}

.columna i{
    margin-right: 5px;
}

.columna a button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: red;
    color: #fff;
    transition: all 300ms;
    cursor: pointer;
    font-size: 12px;
}

.columna a button:hover{
    transform: scale(1.10);
}


/* ajustes que se le dan a la tabla */
.tabla table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}


/* ajustes de la tabla */
.tabla thead{
    background: #39A900;
    text-align: center;
}

.tabla th{
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.tabla td{
    padding: 5px;
    font-size: 12px;
}


/* boton regresar */
.regresar button{
    width: 130px;
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
	margin-top: 20px;
	margin-left: 20px;
}

.regresar button:hover{
    transform: scale(1.10);
}



/* ----------------------apartado del responsive----------------------- */

/* para pantallas medianas */
@media screen and (max-width: 1024px) {
    
    /* para crear las 2 columnas de las mesas */
    .columna{
        width: 20%;
        margin: 0 2.5% 20px 2.5%;
    }

}



@media screen and (max-width: 760px) {
 

    /* card del formulario */
    .formulario{
        margin-top: 30px;
        max-width: 90%;
    }

    /* color y tamaño de la letra del formulario */
    .formulario h3{
        font-size: 25px;
    }
    
    .table-responsive{
        margin: 20px;
    }

    .boton button{
        margin: 30px 0;
    }

    .botones{
        display: block;
    }

    .botones button{
        margin: 15px;
        width: 170px;
    }
	
	
	.regresar button{
        width: 50px;
    }

    .beer{
        max-width: 90%;
    }


    /* para crear las 2 columnas de las mesas */
    .columna{
        width: 100%;
        height: auto;
        padding: 20px;
        overflow-y: auto ;
    }
    
}
