/* estos es pra llamar el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* fondo de la pagina */
body{
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-pixabay-65210-min.jpg");
=======
    background-image: linear-gradient(rgba(109, 106, 52, 0.575), rgba(24, 26, 2, 0.2883)), url("../img/pexels-pixabay-65210.jpg");
>>>>>>> main
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* card del formulario */
.formulario{
    width: 450px;
    margin: auto;
    background: rgba(119, 117, 86, 0.418);
    top: 5%;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px 30px;
}

/* color y tamaño de la letra del menu */
.formulario h1{
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    color: #fff;
}

/* ajustes de los input y label en general */
.formulario label{
    color: white;
    display: block;
}

.formulario input{
    width: 100%;
    margin-bottom: 20px;
}

/* ajustes de los select */
.formulario select{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}

/* ajustes de los option */
.formulario option{
    background: dimgrey;
}

/* ajustes de algunos tipos de input */
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario input[type="number"],
.formulario input[type="tel"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    -moz-appearance: textfield;
}

/* para quitar las opciones de subir y bajar el valor del numero con las flechas */
.formulario input[type="number"]::-webkit-outer-spin-button,
.formulario input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* la position del div contraseña sea relativo para asi poder acomodar el ojo de contraseña */
.formulario .contraseña{
    position: relative;
}

/* ajustes del estilo que se le da al icono del ojo en la contraseña */
.formulario i{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 30%;
    right: 3%;
}

.formulario input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #39A900;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

/* efecto de aumento de tamaño del boton */
.formulario input[type="submit"]:hover{
    transform: scale(1.10);
}

/* ajustes de alineación, color, etc. Del "ya tienes cuenta" */
.formulario .cuenta{
    text-align: center;
    margin-top: 20px;
}

.formulario a{
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}

.formulario a:hover{
    color: #39A900;
}



/* -------------------este es el apartado de responsive---------------- */

@media screen and (max-width: 760px){

    /* card del formulario */
    .formulario{
        max-width: 95%;
    }
    
}